<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>

<body>
    {% include 'navigation/header.html' %}
    <div class="main-pagecontainer">
        <form method="get" action="{% url 'searchresults' %}">
            <div class="search-bar">
                <input name="search" type="text" value="{{request.GET.search}}" placeholder="Enter Keywords (e.g., Technology, Sports)...">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
        {% if request.GET.search %}
        <div class="filter-section">
            <div><b>Search for: "{{request.GET.search}}"</b></div>
            <div class="news-sort-and-filter">
                <a href="?search={{request.GET.search}}&order={% if '-' in request.GET.order %}{% else %}-{% endif %}publishdate">Sort <img src="{% static 'sort.svg' %}" alt="" width="15px"></a>
                <button>Filter <i class="fa-solid fa-filter"></i></button>
            </div>
        </div>
        {% else %}
        <div class="news-head-section">
            <div class="head-news" onclick="location.href='{{newsData.0.url}}'">
                <div class="head-news-image">
                    <img src="{{newsData.0.urlToImage}}" alt="">
                </div>
                <h1>
                    {{newsData.0.title}}
                </h1>
                <h3>
                    {{newsData.0.description}}
                </h3>
            </div>
            <div class="section-news1" style="background-image: url('{{newsData.1.urlToImage}}');" onclick="location.href='{{newsData.1.url}}'">
                <div class="section-news-flex">
                    <div></div>
                    <div class="section-news-details">
                        <h2>
                            {{newsData.1.title}}
                        </h2>
                        <h4>
                            {{newsData.1.description}}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="section-news2" style="background-image: url('{{newsData.2.urlToImage}}');" onclick="location.href='{{newsData.2.url}}'">
                <div class="section-news-flex">
                    <div></div>
                    <div class="section-news-details">
                        <h2>
                            {{newsData.2.title}}
                        </h2>
                        <h4>
                            {{newsData.2.description}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</body>
{% include 'navigation/footer.html' %}
</html>